# common
**/*.DS_Store
**/*.pem
**/*.orig.*
**/*.jks
**/*.p8
**/*.p12
**/*.key
**/*.mobileprovision
**/*.tsbuildinfo
**/*.env
**/build/
**/dist/
**/*.log
**/*.idea/
**/*.vscode/

# mobile
mobile/node_modules/
mobile/.expo/
mobile/web-build/
mobile/.env
mobile/expo-env.d.ts

# web
web/node_modules/
web/.env

# api
api/__pycache__/
api/*.py[cod]
api/*.so
api/*.egg-info/
api/.venv/
api/venv/
api/.uv/
